{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/vibes/vibe-index.css' %}"
/>
{% endblock %}

{% block content %}
<h2>All Vibes</h2>
<section class='card-container'>
  {% for vibe in vibe_list %}
    <div class='card'>
      <div class='card-content'>
        <a href="{% url 'vibes_detail' vibe.id %}">
          <h2>{{ vibe.name }}</h2>
          <p><small>Can you feel it?</small></p>
        </a>
      </div>
    </div>
  {% endfor %}
</section>
{% endblock %}