{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/albums/album-detail.css' %}"
/>
<script defer src="{% static 'js/album-detail.js' %}"></script>
{% endblock %}


{% block content %}

<section class="album-details">
  <div class="img-container">
  </div>
  <h2 class="card-title">{{ album.title }}</h2>
  {% if album.genre %}
    <h3>A {{ album.genre }} record by {{ album.artist }}</h3>
  {% else %}
    <h5>by {{ album.artist }}</h5>
  {% endif %}
  <p>{{ album.description }}</p>
  <div class='album-actions'>
    <a href="{% url 'albums_update' album.id %}" class='btn warn'>Edit</a>
    <a href="{% url 'albums_delete' album.id %}" class='btn danger'>Delete</a>
  </div>
</section>

<section class='vibes-listens-container'>
  <div class='listens-container'>
    <h2>record your thoughts</h2>
    <form 
      method='post'
      class='listen-form'
      action="{% url 'add_listen' album.id %}" >
      {% csrf_token %}
      {{ listen_form.as_p }}
      <button type='submit' class='btn sumbit'>Add Listen</button>
    </form>
    {% if album.listen_set.all.count %}
      <h2>past listens</h2>
      <table>
        <thead>
          <tr><th>Date</th><th>Impressions</th></tr>
        </thead>
        <tbody>
          {% for listen in album.listen_set.all %}
            <tr>
              <td>{{ listen.date }}</td>
              <td>{{ listen.impressions }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h3>Give this album a relisten and record your thoughts!</h3>
    {% endif %}
  </div>

  <div class='vibes-container'>
    <h2>{{ album.title }}'s Vibes</h2>
    {% if album.vibes.count %}
      {% for vibe in album.vibes.all %}
        <div class='vibe-container'>
          <a href="{% url 'vibes_detail' vibe.id %}">
            <h2>A {{vibe.name}} vibe</h2>
          </a>
        </div>
      {% endfor %}
    {% else %}
        <p>{{album.artist}}'s <strong>{{album.title}}</strong> hasn't been assigned any vibes :/</p>
    {% endif %}
    <h3>vibes from the community</h3>
    <div class='vibe-adder'>
      {% if vibes.count %}
        {% for vibe in vibes.all %}
          <div class='vibe-card'>
            <a href="{% url 'vibes_detail' vibe.id %}">
              <p>A {{vibe.name}} vibe</p>
            </a>
            <form action="{% url 'assoc_vibe' album.id vibe.id %}" method='post'>
              {% csrf_token %}
              <button type='submit' class='btn submit'>that's it!</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p>You've added all your vibes already!</p>
      {% endif %}
    </div>
  </div>

</section>

{% endblock %}