.album-details {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.album-details {
  width: 98%;
}

.album-actions {
  margin-top: 20px;
}

.vibes-listens-container {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 20px;
}

.listens-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--nav-bg-ff);
  border: var(--borders);
  border-radius: 5px;
  padding: 15px;
}

.vibes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: var(--nav-bg-ff);
  border: var(--borders);
  border-radius: 5px;
  padding: 15px;
}

.vibe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vibe-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin: 2px;
}

.listen-form  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: var(--borders);
  border-radius: 5px;
  padding: 5px;
}

@media only screen and (min-width: 768px) {
  .vibes-listens-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    margin: 10px;
  }
}
